<!--Здесь определяется начало Angular приложения с помощью ng-app-->
<html lang="ru" ng-app="LodShop">
<head>
  <meta charset="UTF-8">
  <title>League of Devs Shop</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Products</h1>
  <div class="content" ng-controller="ProductsController">
    <div class="item" ng-repeat="product in products">
      <span class="name"> {{ product.productName }} </span>
      <div class="view"></div>
      <select class="specifications" name="specifications" title="" ng-model="specificationPrice"
      ng-options="specification.price as specification.name for specification in product.productSpecifications  | filter:isNotSold">
      </select>
      <p class="price" >
        Price: <span class="price-value" > {{specification.price}}</span> ₽
      </p>
      <span class="buy-button">Order</span>
    </div>
   </div>
  <!--подлкючаем Angular и app.js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
</body>
</html>